body {
    margin: auto;
    text-align: center;
    font-family: 'Roboto Mono', sans-serif;
}

p {
    font-size: 2em;
}

button {
    font-size: 1em;
    margin-top: 20%;
}

#clock {
    font-size: 4em;
    margin: auto;
    display: inline-block;
    padding: 8px;
}

.happy {
    background-color: #FED426;
}

.gloomy {
    background-color: #222222;
    color: #CCCCCC
}